# Quick dive into Pandas for Data Science

## Creating Series Fron Pandas List

In [1]:
import numpy as np
import pandas as pd

In [2]:
countries = ["USA", "Nigeria", "France", "Ghana"]
my_data = [100,200,300,400]

In [3]:
result = pd.Series(my_data, countries)

## Creating Series From Numpy Array

In [4]:
np_arr = np.array(my_data)

In [5]:
pd.Series(my_data)

0    100
1    200
2    300
3    400
dtype: int64

## Creating Series From Python Dictionnary

In [6]:
my_dic = {"a":60, "b":70, "c":80, "d":90}

In [7]:
pd.Series(my_dic)

a    60
b    70
c    80
d    90
dtype: int64

## Grabbing information from Series

In [8]:
Series1 = pd.Series([1,2,3,4], ["London", "Hongkong", "Lagos", "Mumbai"])
Series1["Mumbai"]

4

## Performing Arithmetic operations on Series

In [9]:
Series2 = pd.Series([1,3,6,4], ["London", "Accra", "Lagos", "Delhi"])

In [10]:
Series1 - Series2

Accra       NaN
Delhi       NaN
Hongkong    NaN
Lagos      -3.0
London      0.0
Mumbai      NaN
dtype: float64

In [11]:
Series1 + Series2

Accra       NaN
Delhi       NaN
Hongkong    NaN
Lagos       9.0
London      2.0
Mumbai      NaN
dtype: float64

In [12]:
Series1 * Series2

Accra        NaN
Delhi        NaN
Hongkong     NaN
Lagos       18.0
London       1.0
Mumbai       NaN
dtype: float64

In [13]:
Series1 / Series2

Accra       NaN
Delhi       NaN
Hongkong    NaN
Lagos       0.5
London      1.0
Mumbai      NaN
dtype: float64